@font-face {
font-family: 'Muller';
src: url('../test-markup/fonts/MullerRegular.woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'MullerBold';
src: url('../test-markup/fonts/MullerBold.otf');
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: 'MullerExtraBold';
src: url('../test-markup/fonts/MullerExtraBold.otf');
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: 'Geometria';
src: url('../test-markup/fonts/GeometriaBold.otf');
font-weight: bold;
font-style: normal;
}

html {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    margin: 0;
    font-family: 'Muller';
    line-height: normal;
    color: #002543;
}

a {
    text-decoration: none;
    color: #002543;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 120px;
}

.title-logo {
    font-family: 'MullerExtraBold';
    font-size: 30px;
    line-height: 35px;
}

.title-nav {
    font-family: 'MullerBold';
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

@media screen and (max-width: 780px) {
    .container {
        padding: 0 40px;
    }

    .title-logo {
        font-size: 24px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 0 15px;
    }
}

.header {
    background-color: #fff;
    filter: drop-shadow(0px 2px 3px rgba(0, 37, 67, 0.12));
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42.5px 0;
}

.header-sign a {
    padding-left: 20px;
}

@media screen and (max-width: 780px) {
    .header-main {
        padding: 23.5px 0;
    }
}

@media screen and (max-width: 480px) {
    .header-main {
        padding: 12.5px 0;
        justify-content: center;
    }

    .header-sign {
        display: none;
    }
}

.photo {
    height: 500px;
    margin: 0 auto;
    max-width: 1500px;
    background: url(../test-markup/img/slide.png) no-repeat #D8D8D8;
}

.photo .container {
    height: 100%;
}

.photo-main {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.photo-content {
    margin: auto 0;
    width: 50%;
}

.photo-title {
    font-family: 'Geometria';
    font-size: 38px;
    line-height: 40px;
    white-space: pre;
    margin-bottom: 20px;
}

.photo-text {
    font-size: 17px;
    line-height: 24px;
    color: #525252;
}

@media screen and (max-width: 780px) {
    .photo {
        height: 600px;
        background: url(../test-markup/img/slide780.png) no-repeat #D8D8D8;
    }

    .photo-content {
        width: 43%;
        margin: 84px 0 0 0;
    }

    .photo-title {
        white-space: inherit;
        font-size: 32px;
        line-height: 30px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 635px) {
    .photo {
        height: auto;
        background: url(../test-markup/img/slide320.png) no-repeat #D8D8D8;
    }

    .photo-main {
        justify-content: center;
    }

    .photo-content {
        text-align: center;
        width: 100%;
        margin: 60px 0;
    }
}

@media screen and (max-width: 480px) {
    .photo {
        height: 400px;
    }

    .photo-content {
        margin: auto 0;
    }
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.content-title {
    font-family: 'MullerBold';
    font-weight: lighter;
    font-size: 31px;
    color: #002543;
}

h1 {
    font-family: 'MullerBold';
    font-weight: lighter;
    font-size: 14px;
    line-height: 19px;
    color: #002543;
}

.sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reg {
    font-family: 'MullerBold';
    font-weight: lighter;
    font-size: 31px;
    line-height: 30px;
    color: #002543;
}

.elama {
    margin-top: 30px;
    margin-bottom: 35px;
    max-width: 710px;
    font-family: 'Muller';
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    color: #002543;
}

.account input {
    width: 230px;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: #F4F5F9;
    font-family: 'Muller';
    font-size: 13px;
    padding-left: 17px;
    margin-left: 11px;
}

input::placeholder {
    color: rgba(0, 37, 67, 0.5);
}

.checkbox {
    margin-left: 200px;
    margin-top: 27px;
}

.checkbox label {
    font-family: 'Muller';
    font-size: 12px;
    color: #525252;
}

.checkbox1 {
	display: none;
}

.checkbox-custom {
	position: relative;
	width: 17px;
	height: 17px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: #F4F5F9;
}

.checkbox-custom,
.label {
	display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.checkbox1:checked + .checkbox-custom::before {
	content: "✔";
	display: block;
	position: absolute;
    font-size: 23px;
    line-height: 1;
	color: #09ad7e;
}

.text-decor {
    border-bottom: 2px solid rgba(235, 52, 65, 0.5);
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.btn {
    width: 247px;
    height: 37px;
    margin-left: 275px;
    margin-top: 27px;
    padding-top: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: rgba(235, 52, 65, 0.5);
    font-family: 'MullerBold';
    font-weight: lighter;
    font-size: 9px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 108px;
    flex-wrap: wrap;
    width: 100%;
    min-height: 160px;
    border-top: 1px solid rgba(0, 37, 67, 0.2);
}

.contacts-kev {
    padding: 0;
    margin-left: 90px;
    margin-right: 20px;
    font-family: 'MullerExtraBold';
    font-size: 20px;
    line-height: 35px;
    color: #002543;
}

.number {
    white-space: pre-line;
    margin-left: 45px;
    line-height: 16px;
    font-family: 'Muller';
    font-size: 12px;
    color: #525252;
}

.number span {
    font-family: 'MullerBold';
    font-weight: lighter;
    font-size: 14px;
    color: #002543;
}

.email {
    margin-left: 50px;
    margin-top: -20px;
    font-family: 'Muller';
    font-size: 14px;
    color: #002543;
    border-bottom: 2px solid rgba(235, 52, 65, 0.5);
}

.social-btn {
    display: block;
    text-align: center;
    margin-left: 70px;
    margin-right: 80px;
    margin-top: 18px;
    font-family: 'Muller';
    font-size: 12px;
    line-height: 27px;
    color: #525252;
    white-space: pre;
}

.vk,
.fb {
    display: inline-block;
    width: 80px;
    height: 25px;
    background: #597DA3;
    border-radius: 5px;
    text-align: center;
    font-family: 'MullerBold';
    font-weight: lighter;
    font-size: 8px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.vk a,
.fb a {
    color: #fff;
}

.fb {
    background: #3B5998;
    margin-left: 8px;
}

.conf {
    margin-bottom: 30px;
    font-family: 'Muller';
    font-size: 14px;
    color: #002543;
    border-bottom: 2px solid rgba(235, 52, 65, 0.5);
}
